<style>
.Qutu-1{
    width: 1000px;
    height: 200px;
    background-color: blue;
}

.Qutu-2{
    width: 1000px;
    height: 200px;
    background-color: red;
}

.Qutu-3{
    width: 1000px;
    height: 200px;
    background-color: green;
}
</style>